/* Contenedor principal */
.register-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Cambiado para que el formulario no esté centrado verticalmente */
  height: 90vh; /* Reduce la altura total del contenedor */
  padding-top: 3rem; /* Agrega espacio desde la parte superior */
  font-family: Arial, sans-serif;
  background-color: #fff;
}

/* Sección de registro */
.register-section {
  width: 100%;
  max-width: 400px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-section h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333;
}

.register-section form {
  display: flex;
  flex-direction: column;
}

.register-section label {
  margin-bottom: 1rem;
  text-align: left;
  font-size: 0.9rem;
  color: #555;
}

.register-section input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.create-button {
  width: 100%;
  padding: 0.8rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #d32f2f;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-button:hover {
  background-color: #b71c1c;
}
