.producto-detalle-container {
    padding: 2rem;
    font-family: Arial, sans-serif;
  }
  
  .producto-detalle {
    display: flex;
    gap: 2rem;
  }
  
  .producto-imagen-detalle {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px; 
  }
  
  
  .producto-info {
    max-width: 500px;
  }
  
  .producto-titulo {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 10px 0; 
    text-align: left; 
  }
  .producto-precio {
    font-size: 1.5rem;
    font-weight: bold;
    color: #706c6e; 
    margin-top: 5px;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .tabs button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f5f5f5;
    transition: background-color 0.3s ease, transform 0.2s;
  }
  
  .tabs button:hover {
    background-color: #ccc;
    transform: scale(1.05); 
  }
  
  .tab-content {
    margin-top: 20px;
  }
  
  .tab-content p,
  .tab-content ul {
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 10px;
  }
  
  .tab-content ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .tab-content ul li {
    margin-bottom: 5px;
  }

  .dedicatoria-input {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
  }
  
  .dedicatoria-input:focus {
    outline: none;
    border-color: #aaa;
    background-color: #f9f9f9;  
  }
  
  .add-to-cart-button {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgb(189, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-to-cart-button:hover {
    background-color: rgb(0, 102, 0);
  }
  